<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="app">
    <app-header></app-header>
    <app-nav></app-nav>
    <router-outlet></router-outlet>
</div>
